body{
    margin: 0;
    padding: 0;
    font-family: 'Passion One', cursive, sans-serif; 
    background-color: #22252e;
}

h1,h2,h3,h4{
   line-height: 0;
}

hr{
    border: 1px solid rgb(228, 225, 225);
    width: 350px;
}
/*Centraliza conteúdo na pagina*/
.center{
    max-width: 1440px;
    margin: auto;
    padding: auto; 
}

p{
    font-family: sans-serif;
    text-transform: none;
    font-style: normal;
    font-size: 17px;
}

/*Navbar*/

.navbar{
    width: 100%; 
}

ul{
    list-style-type: none; /*Retira as bullets da ul*/
    text-decoration: none;
    margin: 20px;
    padding: 0px;
    float:right; /*Flutua todos os elementos para a direita*/
}

.navbar ul li{
    display: inline-block;
    text-transform: uppercase;
}

.navbar ul li a {
    text-decoration: none; /*Retira o sublinhado*/
    padding: 12px;
    color: white;
    font-size: 20px;
}
/*Fim Navbar*/

/*Logo*/
.fas{ 
    font-size: 30px;
    margin: 15px;
    color: #3dc1d6;
}

.nome-logo{
    font-family: 'Passion One';
    text-transform: uppercase;
    letter-spacing: 6.0px;
    margin:0px 10px;
    color: #3dc1d6;
    font-size: 17px; 
}
/*Fim logo*/

/*Efeito navbar*/
.navbar-efeito a:hover{
    border-bottom: 2px solid #3dc1d6;
    transition-duration: 0.4s;
    margin:0;
    padding: 0;
}
/*Fim efeito navbar*/


/*Imagem de fundo do início do website*/
.top-background{
    max-height: 700px; /*Define altura máxima para a sessão*/
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

.main-background{ /*Propriedades relacionada a imagem de fundo do topo*/
  margin-left: auto;
  margin-right: auto;
  width: 100%; 
  opacity: 0.7
}


/*Fim Top-background*/

/*Sessão Sobre o centro de treinamento*/
.main-content{
    height: 300px;
    max-height: 100%;
    background-color: white;
    margin: 0;
    padding: 1px;
}

.main-content, h1 h2{
    font-size: 35px;
    padding: 60px 50px;
    text-transform: uppercase;
    font-style: italic;
}

.main-content p {
    width: 400px;
    max-width: 100%;
    text-align: left;
}

/*Imagem modelo mulher*/
.female-model{
    display: relative;
    width: 35%;
    height: 100;
    float: left;  
}


/*Define tamanho da segunda parte do website*/
.second-content{
   height: 100px;
   max-height: 100%;  
}

.text-title-second-content{
    color: white;
    font-size: 140px;
    text-transform: uppercase;
    font-style: italic;  
}

.text-title-second-content-h3{
    display: inline;
    color: #3dc1d6;
    font-size: 160px;
    text-transform: uppercase;
    font-style: italic;
    margin-left: 320px;
}

/*Informação/Instituição*/

.grid-container-matricula{
    clear: both;
    display: grid;
    background: white;
    height: 300px;
    grid-template-columns: auto  500px;
    overflow: hidden;
    padding:0px 100px;
}

.grid-container-matricula h4{
    font-size: 35px;
}

.grid-container-matricula h3{
    margin: 0;
    padding: 0;
}

.alinhamento{
    width: 300px;
    padding: 0px 30px 0;
}

/*Formata sessão dos planos*/
.third-content{
    clear: both;
    max-height: 100%;
    background: white;
    padding-bottom: 100px;
    border-top-width: 1px;
    border-top-style: ridge;
}

.third-content h4{
    font-size: 35px;
    padding: 50px 0px 20px; ;
    text-align: center;
    text-transform: uppercase;
}

/*Tabela planos*/
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    text-align: center;
}

.grid-item{
    border-top: 3px solid black;
    height: 500px;
    max-width: 100%;
    margin: 10px;
    width: auto;
    background: white;
    box-shadow: 10px 15px 44px -11px rgba(0,0,0,0.43)   
}

.titulo{
    padding: 30px;
    font-size: 35px;
}

.grid-item p{
    padding: 12px;
}

.config-tabela{
    text-align: left;
    font-family: sans-serif;
    font-weight: normal; 
}

.formata-atividades{
    margin: 0;
    text-align: left;
    font-weight: bold;
}

/*Customiza icones fontawesome*/

.fa-ul{
    margin: 0 45px;
}
.fa-ul .fas{
    font-size: 20px;
    color: #2bd672;
    margin: 0;

 }

li, span{
    font-size: 16px; 
}

/*Customiza o botão "COMPRE AGORA"*/

.button{
  background-color: #3dc1d6;
  padding: 14px 40px;
  display: inline-block;
  border-radius: 4px; 
  cursor: pointer;
  transition: 0.2s;
  margin: 0;
}













